{% extends 'base.html' %}
{% block content %}
<div class="container" style="opacity: 0.9;">
    <div class="row justify-content-center mt-5">
        <div class="col-md-6">
            <div class="card">
                <div class="card-header" style="background-color: #259FB8; color: white;">
                    <h2 class="text-center">Modifica tu PQRS</h2>
                    
                </div>
                <div class="card-body">
                    
                    <form action="" method="POST" autocomplete="off">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <div class="d-grid gap-2">
                            <button class="btn btn-primary" type="submit" name="ActualizarPQRS" style="background-color: #259FB8;">Actualizar</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="text-center mt-3">
                <a href="{% url 'PQRSConsulta' %}" class="btn btn-secondary">Ver PQRS Enviadas</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}
