 <!--Producto-->
 {% load product_extras %}

 <div class="card h-100">
    <div class="d-flex justify-content-center align-items-center"> <!-- Contenedor para centrar la imagen -->
        {% if core.image %}
            <img src="{{ core.image.url }}" alt="Imagen del Producto" height="250" width="250">
        {% endif %}
    </div>
    <div class="card-body">
        <h5 class="card-title">{{ core.nombre_producto }}</h5>
        <h5 class="text-danger">Precio: {{ core.PrecioProducto | price_format }}</h5>
        <a href="{% url 'product' core.slug %}" class="btn btn-info mr-3" style="color: #fff;"> Ver Detalles </a>
    </div>
</div>
