{% load product_extras %}
<div class="col-sm-6">
    <div class="card">

        <div class="card-body">
            <h5 class="card-title"><h3>Compra realizada exitosamente<h3></h5>



            <table class="table table-borderless table-sm">
                <thead>
                    <tr>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                
                </thead>
                <tbody>
                    <tr>
                        <td>Productos:</td>
                        <td>{{ cart.total | price_format }}</td>
                    </tr>
                    <tr>
                       <td>Envío:</td> 
                       <td>{{ order.shipping_total | price_format }}</td> 
                    </tr>
                </tbody>
     </div>
     <div class="">
        <hr>
        <div class="font-weight-bold text-danger">
            Total (impuestos incluidos)
            <div class"d-inline-block">
                {{ order.total | price_format }}
            
            </div>
        </div>

     </div>
    </div>
</div>