{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card bg-light">
                <div class="card-body">
                    <h3 class="card-title text-center">Nueva dirección</h3>
                    <div class="mt-4">
                        {% include 'shipping_addresses/snippets/form.html' with message='Crear' %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

