{% extends 'base.html' %}
{% block content %}
<div class="container mt-4">
   
    <div class="row">
        <div class="col-md-4 text-center">
            <a href="#" target="_blank">
                <i class="fab fa-whatsapp fa-3x"></i>
            </a>
            <p style="color: #CCCCCC;">Número de WhatsApp</p>
        </div>
        <div class="col-md-4 text-center">
            <a href="#" target="_blank">
                <i class="fas fa-envelope fa-3x"></i>
            </a>
            <p style="color: #CCCCCC;">Correo Electrónico</p>
        </div>
        <div class="col-md-4 text-center">
            <a href="#" target="_blank">
                <i class="fab fa-facebook fa-3x"></i>
            </a>
            <p style="color: #CCCCCC;">Dirección de Facebook</p>
        </div>
    </div>
</div>


{% endblock %}